@import "../../../styles/theming";

@mixin mui-dialog-theme($config) {
    $background: map-get($config, background);

    @include mui-variablize(
        "mui-dialog",
        (
            background: mui-color($background, 100),
            foreground: mui-contrast($background, 100),
        )
    );
}
