$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);

$mui-grey-darker: (
    50: #e9e9e9,
    100: #c7c7c7,
    200: #a2a2a2,
    300: #7c7c7c,
    400: #606060,
    500: #444444,
    600: #3e3e3e,
    700: #353535,
    800: #2d2d2d,
    900: #1f1f1f,
    A100: #f07a7a,
    A200: #eb4c4c,
    A400: #ff0505,
    A700: #eb0000,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
    ),
);
$mui-grey-lighter: (
    50: #f9f9f9,
    100: #f0f0f0,
    200: #e6e6e6,
    300: #dbdbdb,
    400: #d4d4d4,
    500: #cccccc,
    600: #c7c7c7,
    700: #c0c0c0,
    800: #b9b9b9,
    900: #adadad,
    A100: #ffffff,
    A200: #ffffff,
    A400: #fffcfc,
    A700: #ffe2e2,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
$mui-grey: (
    50: #f1f1f2,
    100: #dbdcdd,
    200: #c3c5c7,
    300: #abaeb1,
    400: #999ca0,
    500: #878b8f,
    600: #7f8387,
    700: #74787c,
    800: #6a6e72,
    900: #575b60,
    A100: #d0e4fb,
    A200: #a1c8f8,
    A400: #67aaff,
    A700: #4d9cff,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $dark-primary-text,
        600: $dark-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $dark-primary-text,
        A700: $dark-primary-text,
    ),
);
$mui-raspberry: (
    50: #f3e4ec,
    100: #e2bcd0,
    200: #cf8fb1,
    300: #bb6292,
    400: #ad417a,
    500: #9e1f63,
    600: #961b5b,
    700: #8c1751,
    800: #821247,
    900: #700a35,
    A100: #ffa1c4,
    A200: #ff6ea4,
    A400: #ff3b84,
    A700: #ff2274,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    ),
);
$mui-red: (
    50: #fde4e5,
    100: #fabbbd,
    200: #f68e92,
    300: #f26066,
    400: #f03e45,
    500: #ed1c24,
    600: #eb1920,
    700: #e8141b,
    800: #e51116,
    900: #e0090d,
    A100: #ffffff,
    A200: #ffd7d7,
    A400: #ffa4a5,
    A700: #ff8b8c,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $dark-primary-text,
        A700: $dark-primary-text,
    ),
);
$background: (
    color: $mui-grey-lighter,
    disabled: $mui-grey,
    hover: rgba(black, 0.04),
);
$foreground: (
    border: $dark-dividers,
    color: $mui-grey-darker,
    disabled: $mui-grey,
    hint: $dark-disabled-text,
);
