@mixin mui-disable() {
    user-select: none;
    pointer-events: none;
}

@mixin mui-ellipsis {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin mui-fullscreen($position: absolute) {
    bottom: 0;
    left: 0;
    position: $position;
    right: 0;
    top: 0;
}
